/* Custom font declarations */
@font-face {
    font-family: 'FiraCodeNerdMono';
    src: url('../Fonts/FiraCodeNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCodeNerdMono';
    src: url('../Fonts/FiraCodeNerdFontMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MazzardH';
    src: url('../Fonts/mazzard-h-11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #136fad 0%, #04204f 25%, #02143a 50%, #010a26 75%, #00021d 100%);
    /*background-image: url('greyBG.png');*/
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    /*background-position: center;
    background-attachment: fixed;*/
    font-family: 'FiraCodeNerdMono', monospace; /* Use FiraCodeNerdMono font for regular text */
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'MazzardH', sans-serif; /* Use the MazzardH font for headings */
    /*color: #ffffff;*/
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.parallax img {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: auto;
    object-fit: cover;
}

#background {
    z-index: 1; /* Farthest back */
}

#stars {
    z-index: 3;
    mix-blend-mode: screen;
}

#clouds {
    z-index: 3;
}

#ocean {
    z-index: 5;
}

#ship {
    z-index: 12;
}

#iceberg {
    z-index: 13;
}

#foreground {
    position: absolute;
    z-index: 15; /* Closest */
}

#titleText {
    position: absolute;
    font-size: 2em;
    color: white;
    transition: opacity 0.3s ease-out;
    z-index: 100;
    text-shadow: #00021d 2px 1px 2px;
}

.title-large {
    font-size: 2em;
    z-index: 10;
    z-index: 100;
    text-shadow: #00021d 2px 1px 2px;
}

#subText {
    position: absolute;
    font-size: 1.25em;
    margin-top: 350px;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease-out;
    z-index: 100;
    text-shadow: #00021d 2px 1px 2px;
}

#scrollText {
    position: absolute;
    font-size: 1.25em;
    margin-top: 700px;
    text-align: center;
    color: white;
    z-index: 100;
    text-shadow: #00021d 2px 1px 2px;
}

#arrowDown {
    width: 30px;
    height: auto;
    position: absolute;
    margin-top: 1000px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    text-shadow: #00021d 2px 1px 2px;
}

.intro::before {
    content: '';
    position: relative;
    top: -50px; 
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #00021d, transparent);
    z-index: 999; 
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.intro-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    width: 90%;
    gap: 50px;
}

.intro-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.intro h2 {
    font-size: 3em;
    margin-bottom: 10px;
    color: white;
}

.intro p {
    font-size: 1em;
    color: white;
}

/* Graphs Section Styling */
#graphs-section {
    display: grid;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

/* Individual SVG Containers */
.svg-container {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    background-color: #D2E0ED;
    padding: 20px;
}

/* Violin Graph Styling */
#violin-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: white;
}

#violin-graph graphTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

#dropdowns {
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 10px;
}

#dropdowns label {
    font-size: 16px; 
    margin-right: -40px; 
}

#dropdowns select {
    width: 200px; 
    height: 40px; 
    font-size: 16px; 
    text-align: center;
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}

#dropdowns select:hover {
    background-color: #e6e6e6; 
    border-color: #888; 
}

/* Heatmap Graph Styling*/
#heatmap-graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: white;
    text-align: center;
}

#heatmap-description {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

#heatmap-dropdown {
    margin-bottom: 20px;
}
    
#heatmap-graph #map-container {
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

#heatmap-graph #dropdownMenu {
    width: 200px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    transition: all 0.3s ease;
}

#heatmap-graph #dropdownMenu:hover {
    background-color: #e6e6e6;
    border-color: #888;
}

#map {
    width: 100%;
    height: 100%;
}

/* Line Graph Styling */
#line-graph {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: white;
  }
  
  svg text.x-axis-title,
  svg text.y-axis-title {
    font-weight: bold;
    font-size: 15px;
  }
  
  .dot {
    stroke: black;
    stroke-width: 1px;
  }
  
/* Network Graph Styling */

.network-svg {
    width: 100%;
    height: 900px;
    background-color: #fafafa;
}
.link {
    stroke: #F7C59F;
    stroke-opacity: 0.6;
    stroke-width: 1px;
}
.link.highlighted {
    stroke: #FF6B35;
    stroke-opacity: 1;
    stroke-width: 1.5px;
 }
 .link.not-highlighted {
    stroke-opacity: 0;
 }
.network-tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 6px;
    font: 16px sans-serif;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 3px;
    pointer-events: none; 
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 100;
}
#network-graph graphTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

/* Initial state: hidden */
.hidden {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Visible state: animation triggered */
.show {
    opacity: 1;
    transform: translateY(0);
}
